body,h1,h2,h3,h4,h5,h6 {
	font-family: "Karma", sans-serif
}

body{
    background-color: #EAB58A;
}

header {
	text-align: center;
	padding: 8px 16px;
	background: #8f7b4e;
}

/* Klasa sticky jest dodawana do nagłówka za pomocą JS, gdy osiągnie on pozycję przewijania */
.sticky {
	position: fixed;
	top: 0;
	width: 100%
}

/* Dodaj trochę górnego paddingu do zawartości strony, aby zapobiec nagłym szybkim ruchom (ponieważ nagłówek otrzymuje nową pozycję na górze strony (position:fixed i top:0) */
.sticky+.content {
	padding-top: 102px;
}

#psy {
	background-color: #C2A86B;
}
article {
	background-color: #cca878;
}

footer {
	text-align: center;
	padding: 8px 16px;
	background: #C2A86B;
}