h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans";color:#000!important;background-color:#cfcfcf!important;}

header{
    background-color: darkgrey;
    text-align: center;
    padding:0.01em 16px;
    padding-top:48px!important;
    padding-bottom:48px!important;
}

.justify{text-align:justify}

footer{
    text-align: center;
    padding:0.01em 16px;
    padding: 32px;
    color:#fff!important;
    background-color:#616161!important;
}
aside{
    float:left;
    width:100%;
    width:33.33333%
}